.gradle
**/build/
!**/src/**/build/
out/
run/
run-*/
logs/
repo/

gradle-app.setting
.gradletasknamecache

*.class
*.jar
*.log
*.tmp

!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

.idea/
*.iml
.vscode/
.project
.classpath

src/generated/resources/.cache/
